* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --main-background: #164e63;
    --text-color: #f9fafb;
    --nav-background:#083344;
    --a-color: #1E90FF;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav {
    background-color: var(--nav-background);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;

}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 900;
}

a:hover {
    display: block;
    color: var(--a-color);
    transform: scale(1.1);
    transition: transform .3s;
}

